:root {
    --primary-color: #c57d56;
    --second-color: #3d1810;
    --third-color: #f0cda2;
    --for-color: #3b0907;
    --five-color: #ffff;
    --primary-bg-color: #e0ad83;
    --second-bg-color: #ffeec2;
    --bg-image: url('/public/bg-coffee.png');
    --bg-second-image: url('/public/bg-coffee1.jpg');
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
}

html {
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}

h1,h2,h3,h4 {
    font-family: "Montserrat", sans-serif;
}
h1 {
    font-size: 6rem;
    text-transform: uppercase;
}
h2 {
    font-size: 5.5rem;
}
h3 {
    font-size: 5rem;
}
h4 {
    font-size: 4.5rem;
}

.primary-bg {
    background-image: var(--bg-image);
    height: 80vh;
    background-size:cover;
    background-position: center center;
}

.second-bg {
    background: white;
}

.third-bg {
    background-image: var(--bg-second-image);
}

.page-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 0.5rem;
  }
::-webkit-scrollbar-track{
    background: var(--third-color);
}
::-webkit-scrollbar-thumb {
    background: var(--primary-bg-color);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}
