.menu {
    background-color: var(--second-bg-color);
    position: fixed;
    padding: 0 10rem;
    width: 100%;
    border-bottom: 0.02rem solid var(--third-color);
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    padding: 2rem;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    position: relative;
    color: var(--second-color);
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--for-color);
    transition: all 350ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.logo, .logo a {
    color: var(--second-color);
    font-size: 1.5rem;
    text-decoration: none;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}